*{
  box-sizing: content-box;
}

body {
  background-image: url("http://www.mrwallpaper.com/wallpapers/Shells-Seabed.jpg");
  background-size: cover;
}

// below styles are for the intro page
.title{
  text-align: center;
  font-family: 'Freckle Face', cursive;
  text-transform: uppercase;
  color: #ffff66;
  font-size: 70px;
}
h2{
  font-size: 30px;
  text-decoration: underline;
}
.instructions{
  font-family: 'Freckle Face', cursive;
  color: #ffff66;
  font-size: 25px;
  text-align: center;
}
.intro{
  width: 600px;
  margin: 0 auto;
}
.startbtn1, .startbtn2{
  margin-top: 10px;
  border-radius: 10px;
  background-color: #ffff66;
  color: dodgerblue;
  height: 70px;
  width: 100px;
  font-size: 25px;
  font-family: 'Freckle Face', cursive;
}
// end of intro page styles


.main{
  max-width:960px;
}

// styling for the track is below
.board{
  margin: 0 auto;
  position: relative;
  left: 12%;
}
.trackOne, .trackTwo {
  width: 960px;
  height: 55px;
  margin: 20px;
}
.track1, .track2 {
  height: 68px;
  width: 35px;
  display: inline-block;
  border: 1px dashed lightgrey;
}
.finish1, .finish2{
  border-color: red;
  border-style: solid;
}
.start1, .start2 {
  border-color: green;
  border-style: solid;
}

// Bit of styling for the button cursor.
button{
  cursor: pointer;
}
// styling for the controller
.controller {
  padding: 20px 50px;
  display: block;
  border-radius: 50px;
  background-color: #ffff66;
  margin: 50px auto;
  border: 4px solid dodgerblue;
  width: 356px;
}
.move, .boost, .salt {
  margin:0 20px 0 20px;
  font-family: 'Freckle Face', cursive;
  text-transform: uppercase;
  height: 30px;
  width: 60px;
  border-radius: 20px;
  background-color: dodgerblue;
  color: #ffff66;
  font-size: 20px;
}

// player class, this inputs the picture of Gary at this correct position.
.player{
  background-image: url('https://vignette4.wikia.nocookie.net/spongebob/images/8/81/Gary_the_Snail.svg/revision/latest/scale-to-width-down/200?cb=20100922010234');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
// hide class is used alot as the game moves between intro page to the game board.
.hide{
  display: none;
}

// styling for the player feedback and result boxes, result box replaces the feedback box when a result has been made,
.feedback{
  height: 60px;
  width: 400px;
  margin: 0 auto;
  font-family: 'Freckle Face', cursive;
  color: #ffff66;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}
// syles for the resultBox, has the hidden class untill the game is over
h3{
  padding-bottom: 30px;
}
.resultBox{
  height: 60px;
  width: 400px;
  margin: 60px auto;
  font-family: 'Freckle Face', cursive;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  color: #ffff66;
}
.reset{
  background-color: #ffff66;
  font-family: 'Freckle Face', cursive;
  font-size: 20px;
  color: dodgerblue;
  border-radius: 20px;
  width: 150px;
}

// Shake animation for the winner.
.winner{
animation: shake 0.5s infinite;
}
@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }

  20%, 80% {
    transform: translateX(1px);
  }

  30%, 50%, 70% {
    transform: translateX(-2px);
  }

  40%, 60% {
    transform: translateX(2px);
  }
}
