body {
  height: 400px;
  background-color: #42dff4;
}
.main{
  width:960px;
}
.board{
  margin: 0 auto;
}
.trackOne {
  width: 960px;
  height: 55px;
  margin: 20px;
}
.trackTwo {
  width: 960px;
  height: 50px;
  margin: 20px;
}
.track1 {
  height: 48px;
  width: 30px;
  display: inline-block;
  background-color: #42dff4;
  border: 1px solid black;
}
.track2 {
  height: 48px;
  width: 30px;
  display: inline-block;
  background-color: #42dff4;
  border: 1px solid black;
}
.controller {
  padding: 20px 50px;
  display: inline-block;
  border: 1px solid black;
}
.salt .move .boost{
  margin: 20px;
}
.player{
  background-image: url('https://vignette4.wikia.nocookie.net/spongebob/images/8/81/Gary_the_Snail.svg/revision/latest/scale-to-width-down/200?cb=20100922010234');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hide{
  display: none;
}
.feedback{
  height: 40px;
  width: 400px;
  border: 1px solid black;
  margin: 5px;
}
.footer{
  height: 300px;
  width: 100%;
  background-color: #cdd850;
}
